# data
*.csv
*.txt
!requirements.txt
*.npy
*.pth
*.json
*.png
*.pdf

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.cursorignore
.cursorindexingignore

# Python
__pycache__/

# Logs
*.log
logs/
*.out